*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%235E6F77'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-size: 32px;
    font-weight: 900;
    color: #647379;
}

#filter{
    width: 28em;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

#label{
    padding-top: 0.5em;
    font-weight: 600;
}

#filterSelction{
    margin-left: 1em;
    width: 20em;
}

#search{
    width: 26em;
}

#button {
    color: #000000;
    font-weight: 600;
    margin: 0em 1em 0em 0.5em;
}

#button:hover {
    color: #fff;
    font-weight: 600;
}

#input{
    width: 20em;
    margin-left: 1em;
}

#content {
    width: 90%;
    margin: 2em 6.8em 0em 6.8em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.card {
    margin-bottom: 2em;
}

#pagination{
    margin-bottom: 1em;
}

#copyrights {
    height: 5em;
    background-color: #fff;
    padding-top: 1.5em;
    text-align: center;
}

@media screen and (max-width : 320px) {
    #content {
        width: 90%;
        margin: 2em 1em 0em 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    #filter, #search{
        display: flex;
        flex-direction: column;
    }
    #filterSelction, #input{
        margin: 0.3em 0em;
        width: 18em;
    }
    #button {
        margin: 0.5em 0em;
    }
}

@media screen and (min-width : 321px) and (max-width : 375px) {
    #content {
        width: 76%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    #filter, #search{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
    #filterSelction, #input{
        margin: 0.3em 1em;
        width: 18em;
    }
    #button {
        margin: 0.5em 2em;
    }
}

@media screen and (min-width : 376px) and (max-width : 425px) {
    #content {
        width: 68%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    #filter, #search{
        display: flex;
        flex-direction: column;
        margin-left: 2.5em;
    }
    #filterSelction, #input{
        margin: 0.3em 0.5em;
        width: 18em;
    }
    #button {
        margin: 0.5em 3em;
    }
}

@media screen and (min-width : 426px) and (max-width : 768px) {
    #content {
        width: 79%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #filter, #search{
        display: flex;
        flex-direction: column;
        margin-left: 2.5em;
    }
    #filterSelction, #input{
        margin: 0.3em 0.5em;
        width: 20em;
    }
    #button {
        margin: 0.5em 3em;
    }
}

@media screen and (min-width : 769px) and (max-width : 1024px) {
    #content {
        width: 89.5%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #filter, #search{
        width: 20em;
    }
    #filterSelction, #input{
        width: 15em;
    }
}

@media screen and (min-width : 1025px) and (max-width : 1440px) {
    #content {
        width: 87%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}